<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <base href="/dashboard">
    <%- include app-css.ejs %>
    <%- include dashboard-css.ejs %>
</head>
<body>
<chatme-dashboard></chatme-dashboard>
</body>
<%- include app-js.ejs %>
<%- include dashboard-js.ejs %>
</html>
